@import 'src/styles';

.my-card{
  @include my-border-radius;
  border : none !important;
  max-width: 400px;
}
.my-card-header{
  @include my-border-radius;
  background-color: $my-primary;
  color: #ffffff;
}
.form-full-width{
  width: 100%;
}