<div class="container pt-5 mb-4 fadeInDownn">
    <div class="d-flex justify-content-center animated bounceInDown">
        <div class="card my-card effect7">
            <h5 class="card-header my-card-header ">Reset Password</h5>
            
            <div class="card-body">
                <form #resetData="ngForm" (ngSubmit)="resetPassword(resetData)">
                    <div class="alert my-alert-danger alert-dismissible fade show sticky-top container bounceIn" [class.d-none]="inValidLinkAlert" role="alert">
                        <strong>In Valid URL, Please use correct URL or request again to reset password</strong>
                        <button type="button" class="close" (click)="inValidLinkAlert=true" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="alert my-alert-danger alert-dismissible fade show sticky-top container bounceIn" [class.d-none]="linkExpiredAlert" role="alert">
                        <strong>URL Expired</strong>
                        <button type="button" class="close" (click)="linkExpiredAlert=true" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="alert my-alert-danger alert-dismissible fade show sticky-top container bounceIn" [class.d-none]="unexPectedAlert" role="alert">
                        <strong>Unexpected Error occured</strong>
                        <button type="button" class="close" (click)="unexPectedAlert=true" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    
                    <mat-form-field class="form-full-width py-2" floatLabel="auto">
                        <input matInput 
                            type="password" 
                            name="newpassword" 
                            ngModel 
                            required
                            minlength="6"
                            #newpassword="ngModel" 
                            placeholder="New Password"
                        >
                        <mat-error *ngIf="newpassword.touched  && newpassword?.errors?.required">
                            Password is required
                        </mat-error>
                        <mat-error *ngIf="newpassword.touched  && newpassword?.errors?.minlength">
                            Password Should be atleast 6 character
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-full-width py-2">
                        <input matInput 
                            type="password" 
                            name="confirmnewpassword" 
                            ngModel 
                            required
                            minlength="6"
                            #confirmnewpassword="ngModel" 
                            placeholder="Confirm Password"
                        >
                        <div class="alert my-alert-danger alert-dismissible fade show sticky-top container bounceIn" [class.d-none]="passwordMissMatchAlert" role="alert">
                            <strong>Passowrd Did not matched</strong>
                            <button type="button" class="close" (click)="passwordMissMatchAlert=true" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <mat-error *ngIf="confirmnewpassword.touched  && confirmnewpassword?.errors?.required">
                            Required
                        </mat-error>
                        <mat-error *ngIf="confirmnewpassword.touched  && confirmnewpassword?.errors?.minlength">
                            Password Should be atleast 6 character
                        </mat-error>
                    </mat-form-field>
                    <button class="my-btn" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div *ngIf="waitSpinner" class="my-overlay d-flex justify-content-center align-items-center">
    <div class="p-2">
      <mat-spinner></mat-spinner>
    </div>
</div>