<div class="container-fluid animated fadeIn text-center suc-conteiner">
    <p class="suc-text">
        Your Order Was Successfuly Placed!
    </p>
    <p class="suc-sub-text">
        We will confirm your order and notify you shortly
    </p>
    <div>
        <span class="material-icons suc-icon">
            check_circle
        </span>
    </div>
    <div>
        <a (click)="myOrderClick()" class="suc-url">My Orders</a>
    </div>
    <div>
        <a routerLink="{{home}}" class="suc-url">Home</a>
    </div>

</div>