<div class="container-fluid pt-4 animated fadeIn">
    <p class="global-heading">
        Welcome Lorem, ipsum.
    </p>
</div>

<div class="container animated fadeIn">
    <p class="mt-4">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas hic totam adipisci nihil, cumque corrupti
        voluptates magni exercitationem ipsum quia!
    </p>
    <h2>
        Lorem, ipsum.
    </h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia aut incidunt odio at fugit possimus. Enim,
        eaque deleniti, iste sequi nisi officiis hic eligendi soluta rem dolor praesentium voluptas? Eveniet ad libero,
        consequuntur impedit magnam nihil, pariatur ducimus repudiandae ab facere accusantium maiores, voluptate
        ratione. Dolor voluptates officiis magnam rerum..
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex pariatur recusandae labore quod doloribus reiciendis
        ea doloremque maxime suscipit nulla repudiandae sit iste eius ratione aliquid quae voluptates commodi beatae
        consequuntur autem architecto, sequi dolore.
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita, quo! Dolor magnam aut incidunt non.
    </p>
    <h2>
        Lorem ipsum dolor sit.
    </h2>
    <ul style="list-style-type:circle;">
        <li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, reprehenderit!
            </p>
        </li>
        <li>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </p>
        </li>
        <li>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, culpa quisquam!
            </p>
        </li>
        <li>
            <p>
                Lorem ipsum dolor sit amet consectetur.
            </p>
        </li>
    </ul>
</div>