.delivery-disabled {
    background-color: gainsboro !important;
}

.highlight-date {
    background-color: #ffffff !important;
    color: #000000 !important;
    border: 1px solid #ebebeb !important;
}


agm-map {
    height: 60vh;
}